# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# Python build
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# =========================
# Docker
# =========================

*.log
docker-compose.override.yml

# =========================
# Kubernetes
# =========================

*.kubeconfig
kubeconfig
.kube/

# Helm (caso adicione depois)
charts/*.tgz

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Terraform (caso reutilize algo)
# =========================

.terraform/
terraform.tfstate
terraform.tfstate.*